<p id="notice"><%= notice %></p>

<h1>Blog2s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog2s.each do |blog2| %>
      <tr>
        <td><%= blog2.title %></td>
        <td><%= blog2.body %></td>
        <td><%= link_to 'Show', blog2 %></td>
        <td><%= link_to 'Edit', edit_blog2_path(blog2) %></td>
        <td><%= link_to 'Destroy', blog2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog2', new_blog2_path %>
