<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog2.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog2.body %>
</p>

<%= link_to 'Edit', edit_blog2_path(@blog2) %> |
<%= link_to 'Back', blog2s_path %>
